<div class="login-container">
    <h1 class="title">Inmuebles Chile</h1>
    <h2 class="texto-title">Inicio de Sesión</h2>
    <p class="descripcion-title">Bienvenido de vuelta a Inmuebles Chile</p>
    <div class="email-container ">
        <label for="email" class="texto-email">Correo electrónico</label>
        <input type="email" id="email" name="email" class="input-email"  placeholder="Ingresa tu correo">
    </div>
    <div class="password-container">
        <label for="password" class="texto-password">Contraseña</label>
        <input type="password" id="password" name="password" class="input-password" placeholder="Ingresa tu contraseña">
        <a href="/olvide-mi-contraseña" class="registro-link-p">¿Olvidaste tu contraseña?</a>
    </div>
    <button class="inicio-btn">Iniciar Sesión</button>
    <hr class="linea-separadora">
    <div id="google-btn"></div>
    <hr class="linea-separadora">
    <div class="registro-container">
        <p class="texto-1">¿no tienes cuenta?</p>
        <a href="/registro" class="registro-link">Registrarse</a>
    </div>
</div>