<p>login-inicio-seccion works!</p>
<div class="login-container">
    <h1 class="texto-title">Inicio de Sesión</h1>
    <div class="email-container ">
        <label for="email" class="texto-email">Correo electrónico</label>
        <input type="email" id="email" name="email" class="input-email">
    </div>
    <div class="password-container">
        <label for="password" class="texto-password">Contraseña</label>
        <input type="password" id="password" name="password" class="input-password">
    </div>
    <button class="inicio-btn">Iniciar Sesión</button>
    <div class="registro-container">
        <p class="texto-1">¿no tienes cuenta?</p>
        <a href="/registro" class="registro-link">Registrarse</a>
    </div>
</div>