.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    max-width: 350px;
    min-height: 400px;
    margin: 0 auto;

    padding: 2rem;
    border-radius: 12px;

    box-shadow: 0 4px 20px rgba(0,0,0,0.2);
    background: white;

    position: relative;
    z-index: 1;
}

.email-container,
.password-container {
    width: 100%;
    max-width: 300px;
}

.texto-title {
    font-size: 2rem;
    margin-bottom: 2%;
}

.texto-email, 
.texto-password {
    display: block;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}


.input-email,
.input-password {
  width: 100%;
  max-width: 300px;
  padding: 0.4rem;
  font-size: 1rem;
  margin-bottom: 1rem;
  box-sizing: border-box;
  background: #dfdfdf;
  border-radius: 10px;
}

.input-email::placeholder,
.input-password::placeholder {
    color: #6d6d6d;
    font-size: 0.9rem;
}

.inicio-btn {
    width: 80%;
    max-width: 300px;
    padding: 0.5rem;
    font-size: 1.2rem;
    background-color: #0b488a;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 5%;
}

.registro-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

.texto-1 {
    margin-top: 1rem;
    font-size: 1.2rem;
}
.registro-link {
    color: #0b488a;
    text-decoration: none;
    font-weight: bold;
    margin-right: 1rem;
    padding: 0.5rem;
}

:host {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
    
}


.info-container {
    position: absolute;
    top: 40%;
    left: 7%;
    color: white;
    z-index: 2;
}
.info-title {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}
.info-description {
    font-size: 1.2rem;
    max-width: 300px;
}
.title{
    font-size: 2rem;
    margin-bottom: 1rem;
    color: rgb(7, 7, 173);
}
.descripcion-title{
    margin-top: 1rem;
    font-size: 1rem;
    max-width: 300px;
    color: rgb(32, 32, 32);
}

.registro-link-p {
    color: #0b488a;
    text-decoration: none;
    font-weight: bold;

    margin-left: 55%;

    padding: 0.25rem 0.3rem;
    font-size: 0.7rem;
}

.linea-separadora {
    width: 90%;
    border: none;
    height: 2px;
    background-color: #d1d1d1;
    margin: 1rem 0;
    border-radius: 12px;
}